df_fam_amostra_100mil.csv
df_fam_pessoas_amostra_100mil.csv
df_pessoas_amostra_100mil.csv
Bases originais
Sistematização conteúdo.docx
df_fam_amostra_100mil_limpa.csv
df_fam_amostra_100mil_2.csv
df_fam_pessoas_amostra_100mil_2.csv
df_pessoas_amostra_100mil_2.csv
df_fam_amostra_100mil_limpa_2.csv

Analises_Mariana
Analises_Risla
Analises_Renata
Analises_Michela
Analises_Grinaldo

